<mat-toolbar>
    <a href="">
      <span>Evenco</span>
    </a>    
    <span class="example-spacer"></span>
    <a href="formajout">
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>add</mat-icon>
      </button>
    </a>
    <a href="tableauEvenement">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>view_list</mat-icon>
      </button>
    </a>  
    <a href="user">  
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>account_circle</mat-icon>
      </button>
    </a>
     
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon>
      </button>
    
  </mat-toolbar>
